body { 
    font-family: 'Open Sans', sans-serif;
    font-family: 'Special Elite', cursive;
    text-align: center;
    background: url('./images/bg.jpg');
}

.row {
    width: 100%;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
}

button.reset {
    display:none;
    margin: 0 auto;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Special Elite', cursive;
}

img {
    padding: 10px;
    margin: 10px;
}

.result {
    display:none;  
}

.result p, .welcome { 
    font-size: 1.5em;
    margin: 15px auto;
}

.scoreboard {
    max-width: 250px;
    border-radius: 4px;
    margin: 0 auto;
}

span {
    margin-left: 15px;
}

.begin {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Special Elite', cursive;
    display: flex;
    margin: 0 auto;
    padding: 10px;
}

.board {
    display: none;
}

.board-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0px 0px 4px #ccc;
}

.player-board  {
    display: flex;
    justify-content: center;
    max-width: 400px;
    margin: 30px auto;
    padding: 30px;
    border-radius: 4px;
}

.player-board .computer-pick,
.player-board .player-pick  {
    display: flex;
    flex-direction: column; 
    flex-basis: 40%;
}

.player-options {
    flex-direction: row;

    flex-basis: 100%;
    width: 100%
}

.round-comment {
    min-height: 85px;
}

.turn-result {
    border-top:1px solid;
    padding-top: 37px;
}

.player-pick {
    border-right: 1px solid;
    min-height: 184px;
}

