body { 
    font-family: 'Open Sans', sans-serif;
    font-family: 'Special Elite', cursive;
    text-align: center;
}

.row {
    width: 100%;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
}

button.reset {
    display:none;
    margin: 0 auto;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Special Elite', cursive;
}

img {
    padding: 10px;
    margin: 10px;
}

.result {
    display:none;  
}

.result p, .welcome { 
    font-size: 1.5em;
    margin: 15px auto;
}

.scoreboard {
    border: 1px solid #555;
    max-width: 250px;
    border-radius: 4px;
    margin: 0 auto;
}

span {
    margin-left: 15px;
}

.begin {
    display: flex;
    margin: 0 auto;
}

.board {
    display: none;
}

.board-container {
    border:1px solid #555;
    max-width: 500px;
    margin: 0 auto;
    border-radius: 4px;
}

.player-board  {
    display: flex;
    justify-content: center;
    border: 1px solid #555;
    max-width: 400px;
    margin: 30px auto;
    padding: 30px;
    border-radius: 4px;
}

.player-board div {
    display: flex;
    flex-direction: column;
}

